<div class="container">
    <h2>Music</h2>
    Name:
    <br/>
    <input type="text" data-ng-model="filter.name"/>
    <br/>
    <ul>
        <li data-ng-repeat="m in music | filter:filter.name | orderBy:m.name">{{m.id}} - {{m.name}}
            <button data-ng-click="delMusic(m._id)">Delete</button>
        </li>
    </ul>
    Band Name:<br/>
    <input type="text" data-ng-model="newMusic.name"/>
    <br/>
    Album Name:<br/>
    <input type="text" data-ng-model="newMusic.album"/>
    <br/>
    <button data-ng-click="addMusic()">Add Customer</button>
    <a href="#!/view2">Customers</a>
    <br/>
</div>