<div>
   <p ng-hide="config.hideTitle">{{config.title}}</p>
   <div ng-if="config.rowSet.length > config.rowPerPage" class="btn-group" role="group">
   		<button ng-repeat="page in config.rowSet | paginPages:config.rowPerPage" ng-click="config.setCurrPage($index+1)" class="btn" type="button" ng-class="{'btn-default':!config.isCurrPage($index+1), 'btn-primary':config.isCurrPage($index+1)}">{{$index+1}}</div>
	</div>
	<table class="table">
	   <tr ng-repeat="e in config.rowSet | pagin:config.currPage:config.rowPerPage">
	   <td>
	   	{{e.name}}
	   	</td>
	   </tr>
   </table>
   <button>Принять</button>
   <button>Сброс</button>
   <button>Отмена</button>
 </div>
